/* Reset básico para estilos de navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 200;
    font-family: "Raleway", sans-serif !important;
}

body {
    margin: 0;
    padding: 0;
    background: transparent;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none !important;
}


/*---------------------HEADER STYLES-----------------------------*/
/* Nav Screen */

.nav-screen {
    height: 100%;
    z-index: 500;
    position: fixed;
    background-color: #000;
    opacity: 1;
    right: -285px; /* start off behind the scenes */
    -webkit-font-smoothing: antialiased;
    position: fixed;
    width: 285px;
}

.nav-screen .active {
    display: block;
}

/* nav header links */

.fa-bars {
    display: none !important;
    color: #ff6363;
    float: right;
    padding: 20px;
    position: fixed;
    right: 0;
    z-index: 500;
    cursor: pointer;
}

.fa-times {
    color: #ff6363;
    float: right;
    padding: 20px;
    right: 0;
    z-index: 600;
    cursor: pointer;
}

.header-links {
    color: black;
    position: fixed;
    width: 100%;
    z-index: 500;
}

.header-links li {
    color: black;
    display: inline;
    float: right;
    padding: 15px;
    font-size: 16px;
}

.header-links a {
    color: black;
    -webkit-transition: all 0.2s ease-in;
}

.header-links a:hover {
    color: black !important;
}

/* slide out nav menu styles */

.nav-container {
    padding-top: 10%;
}

.nav-links {
    width: 250px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.nav-links ul {
    margin-top: 15%;
    text-align: center;
    padding-top: 10%;
}

.nav-links a {
    color: #ffffff;
    font-size: 30px;
    line-height: 2.5;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}

.nav-links a:hover {
    color: #ff6363;
    -webkit-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

#fp-nav ul li .fp-tooltip {
    color: #5f5f5f !important;
}

/* Expanding border effect */

.header-links a::after {
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    width: 0;
    height: 2px;
    background-color: #fff;
    content: "";
    opacity: 0;
    -webkit-transition: width 0.6s, opacity 0.8s;
    -moz-transition: width 0.6s, opacity 0.8s;
    transition: width 0.6s, opacity 0.8s;
}

.header-links a:hover::after,
.header-links a:focus::after {
    opacity: 1;
    width: 100%;
}

#searchIcon {
    cursor: pointer;
    color: black; /* Establece el color del ícono */
    position: absolute; /* Posiciona absolutamente dentro del 'li' */
    right: 10px; /* Ajusta según el padding o margen de tu contenedor específico */
    top: 50%; /* Centra verticalmente el ícono dentro del 'li' */
    transform: translateY(-50%); /* Asegura un centrado vertical perfecto */
}



/*---------------------MAIN STYLES-----------------------------*/


h2{
    font-family: Poppins, sans-serif;
    text-align: left;
    font-size: 2.5em;

}
#event-details-container {
    margin: 20px 20px;
    background: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.event-image-container {
    margin-top: 20px;
    position: relative;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}


.event-title {
    color: #009579;
    margin-bottom: 20px;
    margin-top: 20px;
}

.event-image-container {
    position: relative;
    margin-bottom: 20px;
}

.event-image-container img {
    width: 40%;
    height: auto;
    border-radius: 8px;
}

button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    font-size: 24px;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

.event-info p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}



#mapid {
    width: 100%;
    height: 300px;
    border-radius: 8px;
}

@media (max-width: 768px) {
    header, #event-details-container {
        padding: 10px;
    }

    .event-image-container button.prev, .event-image-container button.next {
        padding: 5px;
        font-size: 18px;
    }
}

