#filters{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#filterForm{
    margin:1rem;
}
#searchContainer{
    margin:1rem;
}

/* Estilo para el contenedor de eventos */
#events {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr)); /* Columnas automáticas con ancho mínimo de 15rem */
    grid-auto-rows: auto; /* Altura automática para las filas */
    grid-gap: 2rem; /* Espacio entre eventos */
    justify-content: center;
    align-items: center;
}


/* Estilo para los eventos */
.event {
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.event:hover {
    transform: translateY(-0.5rem);
}

.event img {
    width: 100%; /* La imagen ocupará todo el ancho disponible */
    height: auto; /* Altura automática para mantener la proporción */
    display: block; /* Para centrar la imagen horizontalmente */
    margin: 0 auto; /* Centra la imagen horizontalmente */
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}


.event-content {
    padding: 1rem;
    background-color: #fff;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.event h3 {
    margin-top: 0;
}

.event p {
    margin: 0.5rem 0;
}

/* Estilo para resaltar los eventos al pasar el mouse */
.event:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}
