/* Reset básico para estilos de navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 200;
}

body {
    margin: 0;
    padding: 0;
    background: transparent;
    font-family: "Raleway", sans-serif !important;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none !important;
}

/*---------------------HEADER STYLES-----------------------------*/
/* Nav Screen */

.nav-screen {
    height: 100%;
    z-index: 500;
    position: fixed;
    background-color: #000;
    opacity: 1;
    right: -285px; /* start off behind the scenes */
    -webkit-font-smoothing: antialiased;
    position: fixed;
    width: 285px;
}

.nav-screen .active {
    display: block;
}

/* nav header links */

.fa-bars {
    display: none !important;
    color: #ff6363;
    float: right;
    padding: 20px;
    position: fixed;
    right: 0;
    z-index: 500;
    cursor: pointer;
}

.fa-times {
    color: #ff6363;
    float: right;
    padding: 20px;
    right: 0;
    z-index: 600;
    cursor: pointer;
}

.header-links {
    color: black;
    position: fixed;
    width: 100%;
    z-index: 500;
}

.header-links li {
    color: black;
    display: inline;
    float: right;
    padding: 15px;
    font-size: 16px;
}

.header-links a {
    color: black;
    -webkit-transition: all 0.2s ease-in;
}

.header-links a:hover {
    color: black !important;
}

/* slide out nav menu styles */

.nav-container {
    padding-top: 10%;
}

.nav-links {
    width: 250px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.nav-links ul {
    margin-top: 15%;
    text-align: center;
    padding-top: 10%;
}

.nav-links a {
    color: #ffffff;
    font-size: 30px;
    line-height: 2.5;
    font-weight: bold;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}

.nav-links a:hover {
    color: #ff6363;
    -webkit-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

#fp-nav ul li .fp-tooltip {
    color: #5f5f5f !important;
}

/* Expanding border effect */

.header-links a::after {
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    width: 0;
    height: 2px;
    background-color: #fff;
    content: "";
    opacity: 0;
    -webkit-transition: width 0.6s, opacity 0.8s;
    -moz-transition: width 0.6s, opacity 0.8s;
    transition: width 0.6s, opacity 0.8s;
}

.header-links a:hover::after,
.header-links a:focus::after {
    opacity: 1;
    width: 100%;
}

#searchIcon {
    cursor: pointer;
    color: black; /* Establece el color del ícono */
}


#searchIcon:hover + #searchInput,
#searchInput:hover {
    opacity: 1;
    visibility: visible;
    right: 30px; /* Ajusta esto según la posición deseada del input */
    pointer-events: auto;
}

#eventSearchInput {
    width: 75%; /* Controla el ancho del input */
    padding: 8px 10px; /* Espaciado interno para hacerlo más accesible */
    font-size: 16px; /* Tamaño de fuente legible */
    border: 2px solid #ccc; /* Borde sutil */
    border-radius: 20px; /* Bordes redondeados para un look moderno */
    outline: none; /* Remueve el outline al enfocar */
    transition: border-color 0.3s; /* Transición suave del borde */
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1); /* Sombra interna suave */
    background: rgba(255, 255, 255, 0.9); /* Fondo ligeramente transparente */
    color: #333; /* Color del texto */
}

#eventSearchInput:focus {
    border-color: black; /* Cambia el color del borde al enfocar */
}



/*---------------------MAIN STYLES-----------------------------*/

/* Estilos principales de la estructura y disposición */
main {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera para profundidad */
}

h1 {
    color: #333;
    margin-bottom: 20px; /* Espaciado consistente debajo de los títulos */
}

/* Estilo para la lista de eventos, centrado con dimensiones definidas */
#eventList {
    max-width: 1200px;
    margin: 20px auto; /* Centrado con margen superior e inferior */
    padding: 20px;
    background: white; /* Consistente con el estilo de fondo principal */
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

/* Estilos para cada evento individual */
.event {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.event:last-child {
    margin-bottom: 0; /* Elimina el margen del último evento */
}

/* Estilos para los títulos de eventos */
h2 {
    font-size: 24px;
    color: #009579; /* Color distintivo para los títulos de eventos */
    padding: 8px 0; /* Espaciado superior e inferior para los títulos */
}

/* Estilos para el contenedor de información del evento */
.event-info {
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Configuración del contenedor de imágenes de eventos */
.event-image-container {
    position: relative;
    width: 100%; /* Ajusta esto según el ancho deseado del contenedor */
    height: 25em; /* Ajusta esto según la altura deseada del contenedor */
    overflow: hidden; /* Oculta cualquier parte de la imagen que exceda el contenedor */
}

.images {
    width: 100%;
    height: 100%;
    position: relative;
}

.event-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cubre el área del contenedor sin perder las proporciones */
    position: absolute;
    top: 0;
    left: 0;
}

.visible {
    z-index: 2; /* Asegura que la imagen visible esté encima de las otras */
    border-radius: 10px;
}

.event-image:not(.visible) {
    display: none; /* Oculta las imágenes no activas */
}

/* Estilos para detalles del evento como fecha, descripción y precio */
.event-date-time, .event-description, .event-price {
    margin: 2em 0;
    font-size: larger;
    display: flex;
    align-items: center;
}

.fa {
    margin-right: 10px;
}

/* Estilos para el enlace de detalles del evento */
.details-link {
    display: inline-block;
    background-color: #009579;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.details-link:hover {
    background-color: #007961; /* Efecto hover más suave */
}
