body {
  margin: 0;
  font-family: Poppins, sans-serif;
  background-color: beige;
  width: 100%;
  overflow-x: hidden;
}

#header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #ffffff00;
  vertical-align: middle;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.user-options, .menu-button{
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  font-size: 47px;
  display: inline-block;
}

.centered-text {
  position: absolute;
  top: 53%;
  left: 55%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 80%;
}

.centered-text h1 {
  font-size: 50px;
  color: white;
}

.site-title {
  font-size: 50px;
  color: #fff;
  font-weight: 600;
  display: inline-block;
  align-items: center;
  position: relative;
  left: -35%;
  bottom: 10px;
  border-radius: 600px;
}

.sidebar {
  height: 95%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border-bottom-right-radius: 5%;
  border-top-right-radius: 5%;
}

.sidebar a {
  padding: 10px 25px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
  transition: 0.3s;
}
.sidebar a:hover {
  color: #f1f1f1;
}
.sidebar.active {
  width: 250px;
}

.sidebar hr {
  border: 0;
  height: 3px;
  background-color: black;
  margin: 0 auto;
  width: 80%;
}

.closebtn {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 36px;
  margin-left: 20px;
  cursor: pointer;
}

.contact_sidebar{
  position: absolute;
  top: 85%;
  left: -10%;
  font-size: 36px;
  margin-left: 20px;
  cursor: pointer;
}

.video-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

#video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

#dark-filter {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.548);
  display: none;
  z-index: 1;
}

.button {
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.651);
  color: rgb(255, 255, 255);

  border-radius: 10px;
  width: 20%;
}

#content-us {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

#content-us h2{
  margin-bottom: 20%;
  font-size: 250%;
  position: absolute;
  left: 5%;
}

#about-us{
  flex: 1;
  padding-right: 40px;
  text-align: justify;
  position: relative;
}

.highlight{
  position: absolute;
  margin-left: 10%;
  margin-right: 10%;
  top: -60px;
}

.highlight{
  font-size: 150%;
  font-family: 'Poppins', sans-serif;
  font-weight: inherit;
}

.about-image{
  width: 40%;
  height: auto;
  object-fit: cover;
}


/*------- dispositivo tablet-----*/

@media only screen and (min-width: 601px) and (max-width: 1024px){

  .centered-text h1{
    font-size: 40px;
  }

  .button{
    width: 30%;
    padding: 16px 24px;
    font-size: 14px;
  }

  #content-us h2{
    font-size: 3vw;
    bottom: 70px;

  }

  #about-us p{
    font-size: 1.5vw;
  }

}


/*-------dispositivo movil--------*/


@media only screen and (max-width: 640px) {

  .centered-text{
    flex-direction: column;
  }

  .centered-text h1{
    font-size: 30px;
  }

  .button{
    width: 40%;
    padding: 16px 24px;
    font-size: 14px;
  }


  #content-us h2{
    font-size: 3vw;
    bottom: 50px;
  }

  #about-us p{
    font-size: 1.5vw;
  }

  .highlight{
    top: -40px;
  }

  .site-title {
    font-size: 45px;
    margin-top: 1%;
    margin-left: 40%;
  }

  nav {
    display: flex;
    justify-content: space-between; /* Si tienes varios elementos en tu nav, los alinea al final */
    margin-right: 1%;
  }

  .menu-button img, .user-options img{
    width: 42px;
  }
}


/*----------------------------------------------------------------------------------*/
#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333; /* Color oscuro para contrastar con el texto blanco */
  color: white;
  padding: 20px;
  flex-wrap: wrap; /* Asegura que el contenido se ajuste en pantallas pequeñas */
  gap: 20%
}
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 10%;
  width: 30%;
  background-color: #333; /* Color oscuro para contrastar con el texto blanco */
  color: white;
}

.footer-right {
  display: flex;
  width: 400px; /* Establece un ancho mínimo para cada sección */
  padding: 10px;
}

h3 {
  margin-top: 0; /* Elimina el margen superior para alinear el título con el borde superior */
  color: #FFD700; /* Color dorado para los títulos */
}

p {
  margin: 5px 0; /* Reduce el margen para los párrafos */
}

#map {
  width: 100%; /* Ancho del cuadrado */
  height: 250px; /* Altura del cuadrado */
  border-radius: 10px; /* Opcional: bordes redondeados */
  background-color: #eee; /* Color de fondo mientras el mapa carga */
  z-index: 0;
}
