* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fffaef;
}


.wrapper{
    color: white;
    height: 430px;
    width: 400px;
    border-radius: 10px;
    padding: 35px 40px;
    background-color: white;
}


h1{
    color: black;
}


.wrapper .input-box {
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%; height: 100%;
    outline: none;
    background: #18204A;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: white;
}

.btn{
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 600;
    border: none;
    margin-left: auto;
}

#sign-up{
    width: 48.54%;
    height: 40px;
    background: #18204A;
    margin: 20px 0;
}

#login {
    width: 32.36%;
    height: 38px;
    background: #2F3F93;
    margin: 10px 0;
}



